In [37]:
import datetime
#from datetime import datetime
#dob = datetime.date(1981, 11, 14)
dob = datetime.datetime.strptime("14/01/2000", '%d/%m/%Y')
#datetime.strptime("14/01/2000", '%d/%m/%Y')


def age():
    now = datetime.datetime.today()
    today = datetime.date.today()
    print(today)
    years = today.year - dob.year
    if today.month < dob.month or (today.month == dob.month and today.day < dob.day):
        years -= 1
    return years

In [35]:
age()

2022-03-07

40

In [12]:
from datetime import datetime
dob = "14/01/2000"
datetime.strptime(dob, '%d/%m/%Y')

datetime.datetime(2000, 1, 14, 0, 0)

In [15]:
datetime.now()

datetime.datetime(2022, 3, 7, 16, 14, 11, 506617)

In [33]:
json_date = "14/01/2000"
datetime.datetime.strptime(json_date, '%d/%m/%Y')

datetime.datetime(2000, 1, 14, 0, 0)

In [1]:
a,b = 1,6

In [3]:
b

6